### **[6주차 강의] - 파이썬 입문(월)/백혜정 교수**

### [5주차 퀴즈]
더하기/나누기만 가능한 계산기를 만들고자 한다.  
- 사용자에게 수행할 연산을 입력 받은 후, 연산 결과를 result에 대입.
- num1, num2는 1에서 45까지 임의의 값  (이때, import random 되있다고 가정) <br>
1) num1, num2 - 임의의 값 <br>
2) op 변수에 수행할 연산을 사용자에게 입력 ( +, /)<br>
3) 만약 op 가 '+' 이면 - result = ?<br>
4) 그렇지 않고 op 가 '/' 이면 - result = ?<br>
5) 그렇지 않으면 (op가 +, / 도 아니면) result = 0 .<br>

In [ ]:
import random
# 1) 변수 할당 num1, num2 - 임의의 값
num1 = random.randint(1,45)
num2 = random.randint(1,45)

# 2) op 변수에 수행할 연산을 사용자에게 입력 ( +, /)
op = input('+또는/ 중 하나를 입력하시오')
# 3) 만약 op 가 '+' 이면 - result = ?
if op == '+':
    result = num1 + num2
# 4) 그렇지 않고 op 가 '/' 이면 - result = ?
elif op == '/':
    result = num1/num2
# 5) 그렇지 않으면 (op가 +, / 도 아니면) result = 0
else:
    result = 0
print(op, result)

+또는/ 중 하나를 입력하시오=
= 0



---

# **1부 문자열 생성 및 조작**


*   문자열 생성하기
*  문자열 접근(인덱싱, 슬라이싱)
* 문자열 연산( +, *, in)

## **1.1 문자열 생성하기**


*  한줄 생성
* 여러줄 생성
* 이스케이프 문자
* \\(역슬래시) 이용

In [ ]:
## 한줄 생성하기 - 큰따옴표 or 작은 따옴표  - 난생처음 파이썬 출력
var1="난생처음 파이썬"                    # 큰 따옴표 이용
var2='난생처음 파이썬'                     # 작은 따옴표 이용
## 여러줄 생성하기 - 삼중 킁 따옴표 or 삼중 작은 따옴표 - 난생처음   파이썬을  열공 중입니다 출력
var3 = """난생처음
파이썬을
열공 중입니다."""                     # 삼중 큰 따옴표 이용

var4= '''난생처음
파이썬을
열공 중입니다.'''                    # 삼중 작은 따옴표 이용
print(var1)
print(var2)
print(var3)
print(var4)

## 이스케이프 문자 - \n, \t 이용
                     # \n, \t 이용
var5= '난생 처음\n파이썬\t'

## 소스가 길어질때 \ 시용 - 여전히 한줄   - 동해물과 백두산이....
print('동해물과 백두산이 마르고 닳도록 \
하느님이 보우하사 우리나라 만세')                      # 가독성을 위해 여러 줄에 걸쳐 쓸 때

난생처음 파이썬
난생처음 파이썬
난생처음
파이썬을
열공 중입니다.
난생처음
파이썬을
열공 중입니다.
동해물과 백두산이 마르고 닳도록 하느님이 보우하사 우리나라 만세

## **1.2 문자열 접근**
* 인덱싱 : 개별 문자
* 슬라이싱: 부분 문자열

## 1. 인덱싱 : [index]
- 인덱스는 0부터 시작, 특정위치 반환

In [ ]:
## 1. 인덱싱 : [index] 특정위치 반환 - 0 부터 시작
msg = '안녕하세요'

# 0 번째 인덱스
print(msg[0])
print(msg[-5])
# -1번째 인덱스
print(msg[-1])
print(msg[4])
print(msg[5])

안
안
요
요

IndexError: string index out of range

## 2. 슬라이싱 : [start:end]
* 시작부터 끝 직전(끝-1) 위치까지 부분 문자열 반환

In [ ]:
## 2. 슬라이싱 : [start:end:step] 시작부터 끝 직전(끝-1) 위치까지 부분 문자열 반환
msg = '안녕하세요'
# 문자열 인덱스 0 부터 2까지
print(msg[0:2]) # 인덱스 0,1
# 문자열 인덱스 2부터 5까지
print(msg[2:5]) # 인덱스 2,3,4
# 문자열 시작 생략 가능 : 문자열 첫 문자부터
print(msg[:2])
# 문자열 끝 생략 : 문자열 마지막 문자까지
print(msg[2:])
#  step
print(msg[0:4:1])
print(msg[0:4:2])

In [ ]:
## 2. 슬라이싱 : 문자열을 2부분으로 나누기

msg = "20250425Rainy"

# date
date=msg[:8]

# weather
weather=msg[8:]

# year
year=date[:4]

# month
month=date[4:6]

# day
day=date[6:8]

## **1.3 문자열 연산**
* \+ : 두 문자열 병합
* \* : 문자 반복
* in, not in : 문자열 내 반

In [ ]:
## 3. 문자열 연산 +
msg1, msg2 = '안녕', '하세요'  # 다중 할당문

# + : 문자간 연결 - msg1, msg2 연결
print(msg1 + msg2)
print(msg1, msg2)

안녕하세요
안녕 하세요

In [ ]:
## 3. 문자열 연산 *  : 반복
# msg1 3번 반복
print(msg1*3) #
print(3*msg1)
#[강의자료 예제]
# '*' 다섯번 반복
print("#"*5)
print(5*"#")

안녕안녕안녕
안녕안녕안녕
#####
#####

In [ ]:
## 3. 문자열 연산 in, not in :
msg = '안녕하세요'
#'안' 문자가 msg에 포함되었는지
print('안' in msg)
# not in : '안' 문자가 msg에 포함되지 않았는지
print('안' not in msg)
#[강의자료 예제]
text = 'python'

#'t'가 text에 있는지
print('t' in text)
#'T'가 text에 있는지
print('T' in text)
#'th'가 text에 있는지
print('th' in text)
#'티'가 text에 있지 않은지
print('티' not in text)

True
False
True
False
True
True

# **2부 함수 - 메소드**

*   내장함수 - len(s), max(s), min(s)
*   문자열 메소드 - s.split(), s.count(), s.find()

## **2.1 내장 함수**
* len(s) : 길이
* max(s) : 가장 큰 값
* min(s) : 가장 작은

In [ ]:
msg = '파이썬 프로그램은 재밌다'

# 길이 함수
print(len(msg))
# 가장 큰 값 구하는 함수
print(max(msg))
# 가장 작은 값 구하는 함수
print('[', min(msg),']')

13
프
[   ]

In [ ]:
#[강의자료 예제] len()을 이용한 문자열 길이 확인 예
# 1. num에 사용자에게 정수 입력 - 정수를 입력하세요
num = input('정수를 입력하십시오.')
# 2. len함수 이용해 길이 지정
length = len(num)
# 3. 길이 출력
print(num,'은', length, '자리 숫자입니다.')

정수를 입력하십시오.12345
12345 은 5 자리 숫자입니다.

## **2.2 메소드**
* s.split() : 문자열 분리
* s.count('단어') : 문자열내 단어 갯수
* s.find('단어') : 문자열내 단어 위치

In [ ]:
msg = 'The python programming is fun'

# 문자열 분리
print(msg.split())
w1, w2, w3, w4, w5 = msg.split()
print(w1, w2, w3, w4, w5)

# 문자열내 단어 카운트 - 'p', 'px'
print(msg.count('p'))
print(msg.count('px'))

# 문자열내 단어 찾기 -  'p', 'px'
print(msg.find('p'))
print(msg.find('px'))

# 문자열내 단어 바꾸기  replace 'python' - 파이썬
print(msg.replace('python', '파이썬'))

['The', 'python', 'programming', 'is', 'fun']
The python programming is fun
2
0
4
-1
The 파이썬 programming is fun

## **실습 문제**

In [ ]:
#[강의자료 예제]
msg = 'life is too short'
print(msg.split())
# msg 분리 후, 변수 w1,w2, w3, w4 에 넣4기
w1, w2, w3, w4 = msg.split(' ')
print(w1, w2, w3, w4)

today ="2025/04/14"

# year, month, day 에 분리 메소드 이용
year, month, day = today.split('/')
print(year, month, day)

['life', 'is', 'too', 'short']
life is too short
2025 04 14

In [ ]:
#[강의자료 예제]
week = '월화수목금금금'

# '금' 갯수 세기
print(week.count('금'))

# '금' 찾기
print(week.find('금'))

# '금' 찾기, 인덱스 5 이후
print(week.find('금', 5))

# '금' 찾기, 오른쪽에서 부터 찾기
print(week.rfind('금'))

In [ ]:
# 국어 점수, 수학 점수, 과학 점수

scores = input("국어점수 수학점수 과학 점수를 입력하시오 :")
print(scores.split())
kor, math, science = scores.split()
print(kor, math, science)

국어점수 수학점수 과학 점수를 입력하시오 :95 100 99
['95', '100', '99']
95 100 99

In [ ]:
kor, math, science = input("국어점수 수학 점수 과학 점수를 입력 ").split(
)
kor = int(kor)
math = int(math)
science = int(science)

average = (kor+math+science)/3

# 3.3 문자열 서식 은 7주차 **수업으로**

### 실습 문제
입력한 연도가 윤년인지 아닌지를 판단하여 화면에 출력하는 프로그램을 작성


*  율리우스력 : 입력 년도를 4로 나눈 나머지가 0이면 윤년
*  그레고리력 <br>
입력 년도를 4로 나눈 나머지가 0 이고,
     100으로 나눈 나머지가 0이 아니면 윤년<br>
400 으로 나누어 떨어지면 윤년

In [ ]:
# year 사용자 입력 - 년도를 입력하시오
year=int(input('년도를 입력하시오'))
# 율리우스력
# 만약 년도가 4로 나눈 나머지가 0 이면
if year%4==0:
    print(year,'은 율리우스력으로 윤년입니다.')
else:
    print(year,'은 율리우스력으로 윤년이 아닙니다.')

# 그레고리력 - 먼저 조건식 먼저
# (1) 년도가 4로 나눈 나머지가 0 이고, 100으로 나눈 나머지가 0이 아닌 경우
# year%4==0 and year%100!=0
# (2) 년도가 400으로 나눈 나머지가 0인 경우 윤년
#year%400 == 0

if (year%4==0 and year%100!=0) or (year%400 == 0 ) :
    print(year,'은 그레고리력으로 윤년입니다.')
else :
    print( year, '은 그레고리력으로 윤년이 아닙니다.')

년도를 입력하시오2200
2200 은 율리우스력으로 윤년입니다.
2200 은 그레고리력으로 윤년이 아닙니다.