### **[13주차 강의] - 파이썬 입문(월)/백혜정 교수**

## **리뷰: 리스트 반복**

*  리스트 이용 : for 변수 in 리스트 : # 변수 - 요소값
* range() 이용 : for 변수 in range(0, len(리스트)) : #변수 - 인덱스

### 퀴즈
list1에 정수 5개 값을 초기화 <br>
target 리스트에 깊은 복사 수행<br>
target 리스트에 100 추가<br>
target 리스트 요소 값을 출력 (for 이용)<br>

In [ ]:
# list1에 정수 5개 값을 초기화
list1 = [10, 20, 30, 40, 50]
# target 리스트에 깊은 복사 수행
target = list1[:]   # target = list(list1)

# target 리스트에 100 추가
target.append(100)

#  target 리스트 요소 값을 출력 (for 이용) - 반복
for item in target:   # for element in target:
    print(f"{item}")

# target 리스트 인덱스 이용해 출력
for i in range(len(target)) :
    print(f"{target[i]=}")

10
20
30
40
50
100
target[i]=10
target[i]=20
target[i]=30
target[i]=40
target[i]=50
target[i]=100

# **1부 리스트 동작**

*  내장함수 : 파이썬에서 제공 함수 - len(리스트이름)
* 메소드 : 리스트 객체내의 함수 -리스트이름.append()

##**3.1 내장함수**

*   len(리스트) : 리스트 길이
* max(리스트) : 리스트내의 max 값
* min(리스트) : 리스트내의 min 값

##**3.2 주요 리스트 메소드**


* 추가 : append(값), insert(삽입위치, 값)
* 삭제 : del 리스트[삭제인덱스], remove(값)
* 찾기 : index(값)
* 개수 : count(값) # 없는 경우 0 리턴

In [ ]:
nums = [11, 22, 33]

#1. 리스트에 요소 추가
#append(값) 함수 - 리스트 제일 뒤에 55 추가
nums.append(55)
nums.append(77)

print(f"삽입후 -- {nums=}")

#insert(삽입위치, 값) 함수 - (특정) 삽입위치 앞에 데이터 추가 3위치에 4 넣기
nums.insert(3, 4)
#insert(삽입위치, 값) 함수 - 마지막 요소 앞에 50 삽입
nums.insert(-1, 50)

print(f"insert 삽입후 -- {nums=}")

nums = [11, 22, 33, 0, 11, 22, 33]
#2. 리스트에 요소 삭제
#del 키워드 -리스트 인덱싱이나 슬라이싱을 이용하여 요소를  선택하여 삭제
# 인덱스 1 삭제
del nums[1]
print(f"삭제 후 -- {nums=}")

# 인덱스 2,3 삭제 -> 슬라이싱
del nums[2:4]
print(f"삭제 후 -- {nums=}")

#remove 함수 - 리스트에서 요소 값과 일치하는 첫번째 요소만 삭제 *한 번만 삭제
# 요소가 33값 삭제
nums.remove(33)
print(f"remove 33 삭제 후 -- {nums=}")

nums = [11,22,33,44,33]
#2. 리스트에 요소 찾기
#index(값)함수 - 특정 요소의 인덱스 위치 반환
# nums 리스트에 33 의 인덱스
print(f'{nums.index(33)=}')
# print(f'{nums.index(66)=}')

#count(값)함수 - 값 이 일치하는 요소 개수 세기
# nums 리스트에 33이 몇 개?
print(f'{nums.count(33)=}')


temps = [11, 3, 8, 22, 105, 1, -6]
temps.sort()   # 정렬

print(f'{temps}')

temps.reverse()  # 역순

print(f'{temps}')

삽입후 -- nums=[11, 22, 33, 55, 77]
insert 삽입후 -- nums=[11, 22, 33, 4, 55, 50, 77]
삭제 후 -- nums=[11, 33, 0, 11, 22, 33]
삭제 후 -- nums=[11, 33, 22, 33]
remove 33 삭제 후 -- nums=[11, 22, 33]
nums.index(33)=2
nums.count(33)=2
[-6, 1, 3, 8, 11, 22, 105]
[105, 22, 11, 8, 3, 1, -6]

### 친구 관리 프로그램
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
9. 종료
메뉴를 선택하시오: 2
이름을 입력하시오: 홍길동

In [42]:
# 1. 변수 menu
menu_selection = -1

# 2. 리스트 friends - 빈리스트
friends = []

# 3. 무한 반복 - 친구 관리 메뉴 보기 & 선택 & 실행
while True:
    # 3.1 메뉴 목록
    print("--------------------")
    print("1. 친구 리스트 출력")
    print("2. 친구추가")
    print("3. 친구삭제")
    print("4. 친구검색")
    print("9. 종료")

    # 3.2 사용자 입력(menu) - 메뉴를 선택하시오:
    menu_selection = int(input("메뉴를 선택하시오 : "))

    # 3.3 조건
    # 1이면 친구 리스트 출력
    if menu_selection == 1:
        for item in friends:   # print(friends)
            print(item)
     # 2이면, 사용자 입력(name) - 이름을 입력 하시오 => 친구 리스트에 추가
    elif menu_selection == 2:
        name = input("이름을 입력 하시오")
        friends.append(name)
    # 3이면, 사용자 입력(del_name) - 삭제할 이름을 입력 하시오 =>
    elif menu_selection == 3:
        name = input("삭제할 이름을 입력 하시오")
      # 조건 - 삭제할 친구 이름이 친구 리스트에 있으면 삭제하고, 그렇지 않으면 '친구리스트에 없습니다.' 출력
        if name in friends:
           friends.remove(name)
        else :
            print(f'친구리스트에 {name}이 없습니다.')
    #4 이면, 사용자 검색
    elif menu_selection == 4:
        name = input("검색할 이름을 입력 하시오")
      # 조건 - 검색할 친구 이름이 친구 리스트에 있으면 검색하고, 그렇지 않으면 '친구리스트에 없습니다.' 출력
        if name in friends:
           idx = friends.index(name)
           print(f'친구리스트 {idx+1} 번째 저장되어 있습니다.')
        else :
            print(f'친구리스트에 {name}이 없습니다.')
    # 9 이면 종료...
    elif menu_selection == 9:
        break
    else :
        print("유효하지 않은 메뉴 입니다. 다시 입력")

--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
4. 친구검색
9. 종료
메뉴를 선택하시오 : 2
이름을 입력 하시오홍길동
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
4. 친구검색
9. 종료
메뉴를 선택하시오 : 2
이름을 입력 하시오김명지
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
4. 친구검색
9. 종료
메뉴를 선택하시오 : 1
홍길동
김명지
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
4. 친구검색
9. 종료
메뉴를 선택하시오 : 4
검색할 이름을 입력 하시오김명지
친구리스트 2 번째 저장되어 있습니다.
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
4. 친구검색
9. 종료
메뉴를 선택하시오 : 4
검색할 이름을 입력 하시오김대한
친구리스트에 김대한이 없습니다.
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
4. 친구검색
9. 종료
메뉴를 선택하시오 : 3
삭제할 이름을 입력 하시오홍길동
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
4. 친구검색
9. 종료
메뉴를 선택하시오 : 1
김명지
--------------------
1. 친구 리스트 출력
2. 친구추가
3. 친구삭제
4. 친구검색
9. 종료
메뉴를 선택하시오 : 9

# **2부 복합자료형과 함수**

리스트와 딕셔너리가 함수의 매개변수, 반환형인 경우

## **2.1 매개변수로서 리스트**


* 리스트를 매개변수로 전달
* 함수안에서 리스트 객체 변경시 - 새로운 리스트로 대입

In [ ]:
# 1. 리스트가 매개변수 일때 - 단지 사용만
#func1 정의
def func1(list1) :
    print(f'함수안 -- {list1=}')
    print(id(list1))

values = [0, 1, 2, 3, 4, 5, 6]
#func1 호출
func1(values)
# values 출력
print(f'함수 밖 -- {values=}')
print(id(values))

함수안 -- list1=[0, 1, 2, 3, 4, 5, 6]
134321184469504
함수 밖 -- values=[0, 1, 2, 3, 4, 5, 6]
134321184469504

In [ ]:
# 2. 리스트가 매개변수 일때 - 리스트의 원소를 수정할때
#func2 정의  - 리스트의 0 번째를 99로 수정
def func2(list1) :
    list1[0] = 99
    list1 = [ 28, 31, 33, 35, 27, 26, 25]
    print(f'함수안 -- {list1=}')
    print(id(list1))

values = [0, 1, 1, 2, 3, 5, 8]
# func2 호출
func2(values)
# values 출력
print(f'함수 밖 -- {values=}')
print(id(values))

함수안 -- list1=[99, 1, 1, 2, 3, 5, 8]
134321201104320
함수 밖 -- values=[99, 1, 1, 2, 3, 5, 8]
134321201104320

In [ ]:
# 3. 리스트가 매개변수 일때 - 리스트의 자체를 새로운 것으로 수정할때
# func3 정의
# list를 새로운 리스트로 변경 [ 28, 31, 33, 35, 27, 26, 25]
def func3(list1) :
    list1 = [ 28, 31, 33, 35, 27, 26, 25]
    print(f'함수안 -- {list1=}')
    print(id(list1))

values = [0, 1, 1, 2, 3, 5, 8 ]

# func3 함수 호출
func3(values)
# values 출력
print(f'함수 밖 -- {values=}')
print(id(values))

함수안 -- list1=[28, 31, 33, 35, 27, 26, 25]
134321185295936
함수 밖 -- values=[0, 1, 1, 2, 3, 5, 8]
134321476271232

## **2.2 반환형으로서 리스트**

In [ ]:
# 4. 리스트가 반환형 일 때
# func4 정의
# list를 새로운 리스트 생성 [11, 22, 33, 44, 55]
    # 리스트를 임의로 하나 생성
    # 그 리스트를 반환
def func4() :
    list1 = [11, 22, 33, 44, 55]
    return list1

# func4 함수 호출
values = func4()
# values 출력
print(f'{values=}')

values=[11, 22, 33, 44, 55]

### 실습 문제
사용자로부터 정수를 4개 입력 받아 리스트에 저장한 후, 화면에 출력하는 프로그램을 작성하시오.

준수사항: 다음 2개의 함수를 정의하여 프로그램에 활용

input_list() : 빈 리스트를 만들고 사용자에게 정수 4개를 입력 받아 리스트에 저장한 후, 해당 리스트를 호출측에 반환하는 함수

print_list(p) : 리스트를 전달받아 모든 요소를 순서대로 출력하는 함수

---
1번째 정수: 3
2번째 정수: 5
3번째 정수: 7
4번째 정수: 9
리스트의 1번째 요소 3
리스트의 2번째 요소 5
리스트의 3번째 요소 7
리스트의 4번째 요소 9

In [ ]:
#############################
## quest 1
# 리스트가 반환형인 경우  - 사용자에게 입력 4번 받아서... 리스트로 생성
# input_list()
def input_list():
    list1 = []
    for i in range(0,4):
        num = int(input("정수 입력 : "))
        list1.append(num)
    return list1

# 리스트가 매개변수인 경우 - 리스트 내용을 출력
# print_list(p)
def print_list(list1) :
    for item in list1:
        print(item)

values = input_list()
#print(f'{values=}')
print_list(values)

정수 입력 : 3
정수 입력 : 5
정수 입력 : 7
정수 입력 : 9
3
5
7
9

## **2.3 리스트 함축**


## **[수식 for (변수 in 리스트) if (조건) ]**

In [ ]:
# 0 에서 9 까지의 제곱 값의 리스트 생성하기
# 일반적인 경우
list1 =[]

for x in range(10):
    list1.append(x*x)

print(f'{list1=}')

# 리스트 함축인 경우
list2 = [x*x for x in range(10)]

print(f'{list2=}')

list1=[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]
list2=[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [ ]:
data = [1,2,3,4,7]
# [3,4,5,6,9]
list1 = [x+2 for x in data]
print(f'{list1=}')

list1=[3, 4, 5, 6, 9]

In [ ]:
# # 0 에서 9 까지 짝수만 제곱 값의 리스트 생성하기
# 일반적인 경우
list1 =[]

for x in range(10):
    if x%2 == 0 :
        list1.append(x*x)

print(f'{list1=}')

# 리스트 함축인 경우
list2 = [x*x for x in range(10) if x%2 == 0  ]

print(f'{list2=}')

list1=[0, 4, 16, 36, 64]
list2=[0, 4, 16, 36, 64]

In [ ]:
words = ["All", "good", "things", "must", "come", "to", "an", "end."]
# 다음 리스트 중 첫글자만 이용
# 일반적인 경우
list1= []
for item in words:
    print(item[0])
    list1.append(item[0])

# 리스트 함축인 경우
list2 = [item[0] for item in words ]
print(list2)

A
g
t
m
c
t
a
e
['A', 'g', 't', 'm', 'c', 't', 'a', 'e']

In [44]:
# 0에서 99 까지 정수 중 2의 배수이고 3이 배수 인 것 - 일반적
list1 = []

for i in range(100) :
    if (i%2==0 and i%3==0):
        list1.append(i)

print(f'{list1=}')

# 0에서 99 까지 정수 중 2의 배수이고 3이 배수 인 것 - 리스트 함축
list2 = [i for i in range(100) if (i%2==0 and i%3==0)]

print(f'{list2=}')

list1=[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]
list2=[0, 6, 12, 18, 24, 30, 36, 42, 48, 54, 60, 66, 72, 78, 84, 90, 96]

## **[시험제외, 심화학습] 2.4 이중리스트**

* 리스트의 리스트 :  scores = [[1,2], [3,4]]
* 중첩 for 를 이용하여 반복

In [ ]:
#1. 이중 리스트 - 생성 - '홍길동', 90, 80, 'mju', 95, 100]

#2. 이중리스트와 반복 - 중첩 for - 리스트 객체, 인덱스를 이용
#2.1 중첩 for - 리스트 객체

#2.2 중첩 for - 인덱스 이용

# **3부 파일 Preview**


*  3단계 : 파일 열기(open()) - 읽고/쓰기 - 파일 닫기(close())

In [ ]:
# 파일 열고 닫기

# 파일 쓰기 모드로 열기 - 닫기
outfile = open("example.txt", "w")
outfile.close()
# 파일 읽기 모드로 열기 - 닫기
infile = open("example.txt", "r")
infile.close()



* 파일 쓰기 : write(문자열)  
   - 문자열을 하나씩 쓰기

In [ ]:
#1. 파일 쓰기 모드로 output1.txt 열기
outfile = open("output1.txt", "w")
#2. 파일 쓰기
outfile.write("hogn\n")
outfile.write("gil\n")
outfile.write("dong\n")
#3. 파일 닫기
outfile.close()

* 파일 읽기 : read()  
   - 파일을 한꺼번에 읽음, 문자열로 리턴

In [ ]:
#1. 파일 읽기 모드로 output1.txt 열기
infile = open("output1.txt", "r")
#2. 파일 읽기
message = infile.read()
#3. 파일 닫기
infile.close()
#4. 읽은 내용 출력
print(message)

hogn
gil
dong

#**[시험제외, 심화학습] 4부 튜플**

*   읽기 전용의 리스트 - 수정 불가

## **4.1 튜플 선언**
*   튜플 선언은 괄호를 사용 <br>
fruits = ("apple", "banana", "grape")

In [ ]:
# 튜플 생성

## **4.2 리스트와 튜플 상호 변환**
*   tuple() 함수
* list() 함수

In [43]:
myTuple = (10, 20, 30)

#  튜플을 리스트로 변환
list1 = list(myTuple)
# 리스트에 40 값 추가
list1.append(40)
# 리스트를 튜플로 변환
myTuple1 = tuple(list1)
# 튜플을 출력
print(myTuple1)

(10, 20, 30, 40)