<a href="https://colab.research.google.com/github/baek-study/python_mon/blob/main/source/week4_mju_mon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **[4주차 강의] - 파이썬 입문(월)/백혜정 교수**

### [3주차 퀴즈]
사용자에게 이름(name)과 나이(age-정수),  키(height-실수)를 입력 받은 후, 자료형 변환을 하시오.<br>
이름 : (입력) <br>
나이 : (입력) <br>
키 : (입력) <br>

In [ ]:
# 이름 : (입력)
name = input("이름 : ")
# 나이 : (입력) -> 정수 변환
age = int(input("나이 : "))
# 키 : (입력) -> 실수 변환
height = float(input("키 : "))

# 이름, 나이, 키 출력
print(name)
print(age)
print(height)

이름 : mju
나이 : 20
키 : 170
mju
20
170.0



---

# **1부 산술/대입연산자**

##**1.1 산술연산자**
사칙 연산 : +, -, *, /  (나누기 결과는 항상 실수) <br>
기타:  //(몫), %(나머지),**(제곱)

In [ ]:
# 산술 연산자 연습
# n1에 5, n2 에 3 을 넣기
n1 = 5
n2 = 3
# 사칙연산 : +, -, *, /
print(n1 + n2)
print(n1 - n2)
print(n1*n2)
print(n1/n2)



# //(몫), %(나머지), **(제곱)
print(n1//n2)
print(n1 % n2)
print(n1**n2)
print(1.2-1.0)

8
2
15
1.6666666666666667
1
2
125
0.19999999999999996

##**1.2 산술연산자 - 우선순위**
**  <br>
*, /, //, % <br>
+, -

In [ ]:
# 다음을 계산 하면?
# 3 + 2 * 5
print(3 + 2 * 5)
# 3 + 2 * 5 ** 2
print(3 + 2 * 5 ** 2)
# +를 먼저하고 싶으면 ?
print( (3 + 2) * 5 ** 2)

13
53
125

## **1.3 할당(대입)연산자**
우측 표현식의 결과값을 좌측 변수에 대입

### **변수 할당/대입 - 자료/수식/함수**
자료 - 단순 값 또는 다른 변수값 <br>
수식 - 값/값, 변수/변수, 값/변수 등 수식 결과값 대입 <br>
함수 - 함수 결과 값 대입

In [ ]:
# 단순값 대입 - n1에 1 넣기
n1 =1

# 다른 변수값 대입 - n2에 n1 값 넣기
n2 = n1

# 값-값 연산 : n1 변수에 1과 2를 더한 값 넣기
n1 = 1 + 2
# 변수-값 연산 : n2 변수에 n1에 4를 나눈 값 넣기
n2 = n1 + 4
sum = n1 + n2
# 변수-변수 연산 : max_value 에 max(n1, n2) 함수 결과 값 넣기
max_value = max(n1, n2)
# 자기 할당문 : 자기 자신을 포함한 연산 - n1에 1을 더하기
n1 = n1 + 5

### **다중할당문**
- 한번에 여러개 변수 초기화 <br>
- 두 변수 맞교환

In [ ]:
# 다중 할당문 - 여러 개의 대입 연산 x, y, z에 모두 1을 할당
x=y=z=1
print(x, y, z)
z=1
y=z
x=y


# 다중 할당문 활용 - 좌변 변수가 여러개 인 경우 -x에는 1, y에는 2 넣기
x = 1
y = 2
x, y = 1, 2

# 다중 할당문 - x,y,z에 각각 10, 20, 30 넣기
x, y, z = 10, 20, 30


# 두 변수 맞교환 - x, y의 값을 서로 바꾸기 - 파이썬의 독특한 방법
print(x, y)
x, y = y, x
print(x, y)


# 다른 언어에서 맞교환 - temp 이용
temp  = x
x = y
y = temp
print(x, y)

1 1 1
10 20
20 10
10 20

## **1.4 복합대입연산자**
+=처럼 대입 연산자와 다른 연산자를 합쳐 놓은 연산자 <br>

In [ ]:
# 복합대입 num = num + 2
num += 2
# 복합대입 num = num - 2
num -= 2
# 복합대입 num = num * 2
num *= 2
# 복합대입 num = num / 2
num /= 2

In [ ]:
##### 자율 예습  #####
# x에 1000을 할당 후 출력
x = 1000
print(x)
# 복합대입으로 2를 더한 후 출력
x += 2
print(x)
# 복합대입으로 2를 뺀 후 출력
x -= 2
print(x)

1000
1002
1000

## **실습 문제**

*   화씨를 입력 받아 섭씨 온도를 계산 후, 섭씨 온도를 화면에 출력하는 프로그램 <br>
C = (F-32) *5/9

In [ ]:
# 화씨를 입력 받아 섭씨 온도를 계산 후, 섭씨 온도를 화면에 출력
fahr=int(input("화씨 온도"))
celsius=(fahr-32)*5/9
print("섭씨 온도",celsius)

화씨 온도23
섭씨 온도 -5.0

* 사용자에게 초 단위의 시간을 입력받아 분-초 형태로 출력 <br>
1분은 60초   - 힌트(몫과 나머지 이용)
---
변환하고자 하는 시간(초)? (사용자 입력) <br>
000 초는 00 분 00 초이다.

In [ ]:
#  사용자에게 초 단위의 시간을 입력받안 분-초 형태로 출력
#
data = int(input("변환하고자 하는 시간(초): "))
minute = data // 60
second = data % 60

print(data, "초는", minute, "분", second, "초 입니다.")

변환하고자 하는 시간(초): 3500
3500 초는 58 분 20 초 입니다.

* 사용자에게 초 단위의 시간을 입력받안 시-분-초 형태로 출력 <br>
1분은 60초, 1시간, 3600초  힌트(몫과 나머지를 여러번 이용)
---
변환하고자 하는 시간(초)? (사용자 입력) <br>
000 초는 00 시간 00 분 00 초이다.

In [ ]:
#  사용자에게 초 단위의 시간을 입력받안 시-분-초 형태로 출력
data = int(input("변환 하고자 하는 초 : "))

hour = data // 3600    # 3700인 경우 1  SEC_PER_HOUR
temp = data % 3600     # 100            SEC_PER_MINUTE
minute = temp // 60
second = temp % 60

print(data, "초는", hour, "시간", minute, "분", second, "초")

변환 하고자 하는 초 : 3700
3700 초는 1 시간 1 분 40 초



*   기호 상수를 사용하면?

In [ ]:
##### 자율 예습  #####
## 1분은 60초, 1시간은 3600초를 상수로 만들면?
SEC_PER_MINUTE = 60
SEC_PER_HOUR = 3600

* 사용자가 입력한 돈을 500원, 100원, 50원, 10원으로   교환할 때 각 동전의 개수를 출력 프로그램<br>
- 금액은 10원 단위로 입력

---
동전으로 교환하고자 하는 금액은? (사용자 입력)<br>
500 원 동전의 갯수: <br>
100 원 동전의 갯수: <br>
50 원 동전의 갯수: <br>
10 원 동전의 갯수: <br>

# **2부 관계/논리 연산자**

## **2.1 관계/비교연산자**
두 개의 자료 또는 값(피연산자)을 비교하는 연산자<br>
결과값은 항상 참(true) 아니면 거짓(false)

In [ ]:
# n1에 10, n2에 100 저장
n1 = 10
n2 = 100
# n1과 n2가 같은지
print(n1 == n2)
# n1과 n2가 같지 않은지
print(n1 != n1)
# n1과 n2보다 작은지
print(n1 < n2)
# n1과 n2보다 큰지
print(n1 > n2)
# n1과 n2보다 작거나 같은지
print(n1 <= n2)
# n1과 n2보다 크거나 같은지
print(n1 >= n2)

False
False
True
False
True
False

## 관계/비교 연산 - one more##

In [ ]:
##### 자율 예습  #####
# 변수 first - 사용자에게 정수 입력 - 첫번째 정수를 입력하세요:

# 변수 second - 사용자에게 정수 입력 - 두번째 정수를 입력하세요:



# 비교 연산
ds =
print("첫번째 숫자가 두번째 숫자보다 큰가:",ds)
# 항등 연산
ds =
print("첫번째 숫자와 두번째 숫자가 같은가:",ds)

### 관계/비교 연산자 주의 사항 ###


1.   == : 같다, = : 대입 연산자
2.   논리형 비교 : ==, !=
3. 실수시 비교 : 근사값 저장됨

In [ ]:
# 1. == : 같다, = : 대입 연산자
n1 = 3
n2 = 3
# 같다는 표현
print(n1 == n2)
# 대입시는 ?
n1 = n2
print(n1)
print(n1 = n2)

True
3
3

In [ ]:
# 2. 논리형 비교 : ==, !=
# exp에 참 대입
exp = True
# exp가 참 인지
print(exp == True)
# exp가 거짓 인지
print(exp == False)
print(exp != False)

True
False
True

In [ ]:
import math
# 3. 실수시 비교 : 근사값 저장됨
n = sqrt(3)   # 루트 값

# n의 제곱이 3인지 출력
print(n*n == 3)
# 결과의 이유?

NameError: name 'sqrt' is not defined

## **2.2 논리연산자**
여러 개의 조건을 조합하여 참과 거짓 <br>
결과값은 항상 참(true) 아니면 거짓(false)

In [ ]:
age= int(input('당신의 나이는?'))

res1 = age>=0 and age<=120
res2 = 0 <= age <= 120  # 수학과 같은 버전
res3 =  0 <= age and age <= 120 # and 버전 0

print(age,"는 유효한 나이인가?",res1)

res4 = age<0 or age >120
print(age,"는 유효한 나이가 아닌가?",res4)

당신의 나이는?20
20 는 유효한 나이인가? True
20 는 유효한 나이가 아닌가? False

In [ ]:
v = int(input('속도는?'))

res = v >= 60 and v <= 100

print('속도가 유효한가: ', res)

IndentationError: unexpected indent (<ipython-input-27-ab0a327db07a>, line 5)

# **3부. 단순 if**


*   if 조건평가식 : 문장

In [ ]:
# average 가 60 이상이면 pass
average = 80

if average > 60 :
    print("pass")

pass

In [ ]:
# 사용자가 입력한 2개의 정수(n1, n2)의 비교
# n1 - 첫번째 정수
# n2 - 두번째 정수


# n1이 n2 보다 큰지? - 버전 1 - 한줄에
if  n1>n2 :
	print(f'{n1}은 {n2} 보다 크다')

# 만약 n1이 n2 보다 큰지? - 버전 1 - 한줄에
if  n1>n2 :

# n1이 n2 보다 큰지? - 버전 2  - 기본 버전
if n1>n2:
    print(f'{n1}이 {n2}보다 크다')
print('끝')

In [ ]:
# 배타적인 상황!!!!
n1 = 10
n2 = 20

# 만약 n1이 n2 보다 크면? n1이 n2보다 더 크다 출력
if n1 > n2 :
    print("n1 > n2 ")

# 만약 n1이 n2 보다 작거나 같으면? n1이 n2보다 작거나 같다 출력
if n1 <= n2 :
    print("n1 <= n2) ")

# 배타적인 상황

 ## **if ~ else : 배타적인 상황 **
 if 조건평가식 : <br>
    [빈칸] 문장 <br>
    else : <br>
    [빈칸] 문장 <br>

In [ ]:
# 만약 n1이 n2 보다 크면? n1이 n2보다 더 크다 출력
if n1 > n2 :
    print("n1 > n2 ")

# 만약 n1이 n2 보다 작거나 같으면? n1이 n2보다 작거나 같다 출력
else :
    print("n1 <= n2) ")

## **실습 문제**

*   정수 1개를 입력 받아 홀수인지 짝수인지 판단 한 후, 판단 결과를 화면에 출력하는 프로그램 작성


---
정수를 입력하시오 : (사용자 입력) <br>
홀수입니다.<br>
프로그램 종료.

In [ ]:
num = int(input("정수를 입력하시오 :"))

if num % 2 == 1 :
    print("홀수 입니다")
print("프로그램 종료")

정수를 입력하시오 :15
홀수 입니다
프로그램 종료