<a href="https://colab.research.google.com/github/baek-study/python_mon/blob/main/week10_mju_mon.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### **[10주차 강의] - 파이썬 입문(월)/백혜정 교수**

### 시험문제 풀이

In [ ]:
num = -1

# 양수 아닌 수를 입력 받으면 계속 입력
#while num <= 0 :
#    num = int(input(" 정수 입력"))

while True :
    num = int(input(" 정수 입력"))
    if  num>0 :
        break


# 사용자가 양수 입력시 피라미드 별 찍기


# while   - 초기값, 반복값, 증감값

count = 1
star = '*'

while count < 2*num :
    print(f'{star*count:^{num*2-1}s}')
    count += 2

 정수 입력5
    *
   ***
  *****
 *******
*********

# **1부 함수</span>**


*   개념: 함수는 이름을 가지고, 입력을 받아서 작업을 수행후 결과를 반환 <br>
&emsp; - 함수이름, 입력(매개변수), 결과(return값)

In [ ]:
# len 함수 사용/호출 연습
print("hello")


length = len("hello")
print(f'hello 의 길이 : {length}')

hello
hello 의 길이 : 5

### **함수 정의 - 만들기**


*   def 함수이름(매개변수) :<br>
&emsp; 문장들 <br>
&emsp; return 값

In [ ]:
# get_area 함수
# 매개변수 : radius,  결과(return) 있는 함수
# 하는 일 : radius*radius*3.14 를 계산 하여 리턴
def get_area(radius) :
    area = radius*radius*3.14
    return area



# print_msg 함수
# 매개변수 : name, 결과(return) 없는 함수
# 하는일 : 안녕하세요, name님! 축하드립니다. 출력
def print_msg(name) :
    print("안녕하세요")
    print(f'{name}님!  축하드립니다 ')

###  **함수 호출 - 부르기**


*   수행할 함수의 이름을 써주는 것
*   함수이름(인수1, 인수2, .... 인수 n)

In [ ]:
# get_area 부르기
# radius  - 사용자에게 반지름 받기
print(get_area(3))
print(get_area(10))

# print_msg 부르기
print_msg("영희")
print_msg("철수")

28.26
314.0
안녕하세요
영희님!  축하드립니다
안녕하세요
철수님!  축하드립니다

In [ ]:
# 삼각형 함수 정의
'''
이름 : get_triangle
매개변수 : width heght
하는일 : 삼각형 넓이 구하기
리턴 : 넓이(tri_area) 리턴

호출 (5, 6)
'''


# 삼각형 함수 호출
def get_triangle(width,height) :
    area=width*height/2
    return area

value = get_triangle(5,6)
print(f'삼각형의 넓이는 {value}')

삼각형의 넓이는 15.0

 # **2부 매개변수/인수/반환값**


*   매개변수(parameter) : 함수 정의에서 인수를 전달받는 변수
*  인수(argument) : 함수 호출시 함수에게 전달되는 값
*   반환 값(return value) : 함수 수행의 결과로 호출자에게 돌려주는 값

In [ ]:
# 함수 정의 - get_area



# 함수 호출 - get_area

In [ ]:
# 함수 정의
# get_sum 함수
# 매개변수 : first, second,third  결과(return) 있는 함수
# 하는 일 : 세 값을 더하는 함수

def get_sum(first,second,third):
    sum=first+second+third
    return sum

result=sum(1,2,3)


# 함수 호출 - get_sum

TypeError: sum() takes at most 2 arguments (3 given)

### [실습 문제]
로또 복권은 1~45 숫자 중에서 6개를 추첨하는 게임입니다. 로또를 추첨하는 함수를 작성해서 함수를 호출할 때 마다, 숫자를 하나씩 뽑아서 반환하도록 코드를 작성해 봅시다.

In [ ]:
# get_lotto_num 함수 : 매개변수 없이, 1~45 간의 임의 값 반환
import random
def get_lotto_num():
    random_num = random.randint(1, 45)
    return random_num


num = get_lotto_num()
print(f"하나 호출: {num}")

# get_lotto_num 함수를 6번 반복
#  while 초기값, 반복조건, 증감값
for i in range(6):
    num = get_lotto_num()
    print(f"{i+1} : {num}")

하나 호출: 23
1 : 35
2 : 38
3 : 19
4 : 14
5 : 40
6 : 42