### **[7주차 강의] - 파이썬 입문(월)/백혜정 교수**

# **6주차 Review**


####**1.   문자열 생성 및 조작**

*  생성 : 작은/큰 따옴표,  삼중 작은/큰 따옴표
*  인덱싱: 개별 문자, msg[i]  # 0부터 시작, 끝은 -1
* 슬라이싱 : 부분 문자열, msg[start:end] # start에서 end-1까지
* 연산 :  +(병합), *(반복), in/not in (멤버쉽)

####**2.   문자열 메소드**
* 내장 함수 : len(msg)  # 길이
* 메소드 : msg.split(), msg.find('py'), msg.count('p')






---

### [실습문제]
학번과 이름을 _로 구분하여 입력 받고, 각각 분리하여 출력히고, 학번의 자릿수를 출력 하고, 이름의  맨끝자를 출력하는 프로그램
--------
학번과 이름을 _로 구분하여 입력:
학번 :
학번 길이:  
이름:
이름끝자 :

1) 사용자 입력을 split()  함수 이용하여  num, name 에 넣음
2) num, name, num의 길이 출력

In [ ]:
# 사용자 입력 - 학번(num)과 이름(name)을 _로 구분하여 입력 받고, 분리
a=input("이름과 학번을 _로 구분하여 입력하시오")
num, name =a.split('_')
# 학번의 자릿수 출력
lenght=len(num)
# 이름의 맨끝자 출력
name_A=name[-1]
print(f"{num} {name_A}")

이름과 학번을 _로 구분하여 입력하시오01024_ㅇㅇㅇ
01024 ㅇ

# **1부 문자열 서식**
* f-문자열 기본 서식 : { } 이용
* f-문자열:자료형식 : d(정수), f(실수), s(문자열)
* 기타 서식 : %, .format() #  이전 버전

In [ ]:
# 화면에 1 2 3 출력 하는 방법 !!!
# 1. 콤마를 이용하여 1 2 3 출력
print(1, 2, 3)
# 2. 문자열 + 를 이용하여 1 2 3 출력
print("1 " + "2 " +"3 ")
# 3. f - 문자 열
print(f'{1} {2} {3}')

1 2 3
1 2 3
1 2 3

## **1.1 f-문자열**
f'.... {표현식} ....'  # f 문자 쓰고, 문자열 안에 { } 사용

### **기본 문법**
f'.... {표현식} ....'  # f 문자 쓰고, 문자열 안에 { } 사용
- 기본방식 - 값/변수/수식

In [ ]:
name ='alice'
age = 30

# 기존 print() 이용 - Hello,
print("hello", name, "you are", age, "years old!")
print(f'hello {name} you are {age} years old   ') #이용 - { } 사용하기

hello alice you are 30 years old!
hello alice your are 30 years old

### **{표현식(값/변수/수식/함수)}**

In [ ]:
x = 100
y = 200

# 숫자(100) 과 x 출력
print(f'x는 {x}, 숫자 {100}')
# 수식(x+y,  x+ 200, 50+60) 출력
print(f'x+y = {x+y}, x+200 = {x+200}, 50+60 ={50+60}')
# 함수(max(100,200)) 출력
print(f'100과 200중 큰 값 : {max(100, 200)}')
# 중괄호 출력 하고 싶으면?
print(f' 중괄호 {{ }}')

x는 100, 숫자 100
x+y = 300, x+200 = 300, 50+60 =110
100과 200중 큰 값 : 200
 중괄호 { }

## **1.2 f-문자열:자료형식**
{표현식:자료형식코드}

*   정수 : d(decimal), {num:d}
*   실수 : f(fixed/float), {avg:f}
* 문자열 : s (string), {msg:s}

In [ ]:
num = 15

# num 출력 - 10진 표현
print(f"2진 포현으로는 {num:b}입니다.")
print(f"8진 표현으로는 {num:o}입니다.")
print(f"10진 표현으로는 {num:d}입니다.")
print(f"16진 표현으로는 {num:x}입니다.")

n1 = 1000
n2 = 8

avg = n1/n2

# avg 출력
print(f"{n1} / {n2} = {avg}")
# avg 출력 - 실수 f 형식
print(f"{n1} / {n2} = {avg:f}")
# avg 출력 - 실수 e 형식
print(f"{n1} / {n2} = {avg:e}")
print(f"{n1} / {n2} = {avg:g}")

2진 포현으로는 1111입니다.
8진 표현으로는 17입니다.
10진 표현으로는 15입니다.
16진 표현으로는 f입니다.
1000 / 8 = 125.0
1000 / 8 = 125.000000
1000 / 8 = 1.250000e+02
1000 / 8 = 125

### **자릿수 & 정렬**


*   {num:5d}   # 5자리 확보
*   {num:<5d}  # 왼쪽 정렬
*   {num:<05d} # 빈공간에 0

In [ ]:
num = 15

# 다섯자리 확보
print(f'[{num:d}]')
print(f'[{num:5d}]')
print(f'[{num:<5d}]')
print(f'[{num:^5d}]')
print(f'[{12345678:5d}]')
print(f'[{num:05d}]')
# 왼쪽 정렬
pi=3.14159265358979
print(f'[{pi:f}]')   #소수점 여섯 번째 자릿 수까지.
print(f'[{pi:.2f}]') #소수점 두 번째 자릿 수까지
print(f'[{pi:5.2f}]')
# 5자리면서 빈공간에 0 채우기

[15]
[   15]
[15   ]
[ 15  ]
[12345678]
[00015]
[3.141593]
[3.14]
[ 3.14]

### **정밀도:소수점 몇자리**


*  {PI:f}# 기본-소수점 이하 6자리
*   {PI:.2f} # 소수점 이하 두자리
* {PI:5.2f} # 전체가 5자리(소수점 포함)

In [ ]:
# 디버깅 지정자, 등호 지정자

name = 'alice'
age = 25

x = 100
pi = 3.14

print(f'name = {name}, age = {age} ')
# 디버깅 지정자
print(f'{name=}, {age=}')
print(f'x = {x}, pi = {pi}')
print(f'{x=}, {y=}')

name = alice, age = 25
name='alice', age=25
x = 100, pi = 3.14
x=100, y=200

## **1.3 기타서식**


*   초기 버전 - % 방식
*   이후 버전 - .format() 방식

In [ ]:
# % 기호 이용
print("%d %d %d" % (1, 2, 3))
# format() 함수 이용
print("{} {} {}".format("a", "b", "c"))

## **1.4 키워드 인수**

print("hello", sep = ' ', end = '\n')
*   sep : print시 콤마(,) 만나면?
*   end : print 처리 후 마감 문자지정

In [ ]:
print("hello", "world")
print("python 수업이다.")
# 위의 print 문장에 sep에 '/'를 지정 end ='끝' 을 추가 하면?

hello world
python 수업이다.

In [ ]:
print('안녕','여러분',sep=' ',end='\n')
print('안녕','여러분')
print('안녕','여러분', '파이썬',sep='____')
print('안녕','여러분',end='!')
print('끝')

안녕 여러분
안녕 여러분
안녕____여러분____파이썬
안녕 여러분!끝

# **2부 반복문:while**
*   조건 반복 : 정한 조건이 성립되는 동안 반복

*   횟수 반복 : 정해진 횟부만큼 반복

##**2.1 while 기본 문법**
- 조건식을 만족하는 동안 반복적으로 수행

- while 조건식 : &emsp; <br>
&emsp; 문장 <br>

##**2.2 while 사용 예1 : 범위 반복**
- 초기값에서 끝값(조건 만족)까지 반복 => 증감 필요

In [ ]:
#  if count 가 5보다 작은지

count = 0

while count <5 :
    print(f'{count=}')
    count = count + 1 # count += 1


# while에서 범위 반복
# 변수 할당 - 초기화

#while 구문  : 0~4 까지
num=10
while num> 0:
    print(f'{num=}')
    num-=2

count=0
count=1
count=2
count=3
count=4
num=10
num=8
num=6
num=4
num=2

##**2.3 while 사용 예2 : 조건 제어 반복**
- 조건이 만족 할 때 까지

In [ ]:
# 디지털 도어락 열기 - 비밀 번호가 맞을 때 까지

# password 에 사용자의 입력 넣기 - 비밀번호를 입력하시오.
password = input("비밀번호를 입력하시오 : ")
# password가  "#1234*" 아니면 계속 입력 받음
while password != '#1234*' :
    password = input("비밀번호를 입력하시오 : ")

print(f"문이 열렸습니다.")

비밀번호를 입력하시오 : 12
비밀번호를 입력하시오 : 13
비밀번호를 입력하시오 : 14
비밀번호를 입력하시오 : 15
비밀번호를 입력하시오 : #1234*
문이 열렸습니다.

In [ ]:
# 디지털 도어락 열기 - 향상된 버전
password = ''
# password가  "#1234*" 아니면 계속 입력 받음
while password != '#1234*' :
    password = input("비밀번호를 입력하시오 : ")
else :
    print("비밀번호가 맞습니다.")

print(f"문이 열렸습니다.")

비밀번호를 입력하시오 : 12
비밀번호를 입력하시오 : 13
비밀번호를 입력하시오 : #1234*
비밀번호가 맞습니다.
문이 열렸습니다.

##**2.4 while에 else가 있는 경우**
- while 조건식 : &emsp; <br>
&emsp; 문장 <br>
else: <br>
&emsp; 문장 <br>

##**2.5 무한 루프**

In [ ]:
# 의도 하지 않은 무한 반복
# while에서 범위 반복
# 변수 할당 - 초기화
i=0
#while 구문  : 증가 부분이 없는 경우
while i <5:
    print("Hello")

### 무한 루프 & 중단

 while True : &emsp;# 거북이 실습 사용시 <br>
&emsp; 문장 <br>
&emsp;   if 조건 :  
&emsp; &emsp;  break;  # 무한 루프 탈출

In [ ]:
# 무한 반복 - break 문
# 도어락 문제 !!!!\

password = ''

while True:
    password = input("비밀 번호를 입력하시오 : ")
    if password ==  '#1234*' :
        break

비밀 번호를 입력하시오 : 12
비밀 번호를 입력하시오 : 13
비밀 번호를 입력하시오 : 14
비밀 번호를 입력하시오 : #1234*

###**실습문제1**
1~100까지 짝수만 출력

In [ ]:
# 범위(1~100) 에서 짝수 출력
num = 1
while num<=100:
  if num%2 == 0:
      print(f"{num}")
  num += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
num = 0
while num<100:
    num += 2
    print(f"{num}")

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

###**실습문제2 변형 1(범위반복)**
1~100까지 정수중 사용자가 입력한 수의 배수 출력

In [ ]:
# 범위(1~100) 에서 사용자가 입력한 수의 배수 출력
num = input("1~100")
while True:
  num = input("1~100")
  if num%2 == 0:
      print(f"{num}")

###**실습문제2 변형2(조건제어반복)**
- 사용자가 1에서 100사이의 정수를 정확하게 입력 할 때 까지 입력 작업을 반복

In [ ]:
# 조건(1에서 100 사이가 아니면) 사용자에게 계속 입력
num = 0

while num <1 or num >100 :   #while not(1<= num <=100) :
    num = int(input("정수를 입력 하세요"))

print(f'{num=}')

정수를 입력 하세요-1
정수를 입력 하세요102
정수를 입력 하세요105
정수를 입력 하세요99
num=99

In [ ]:
num = 0

while True:
    num = int(input('정수를 입력하시오 : '))

    if( 1<= num <= 100) :
        break

print(f'{num=}')

정수를 입력하시오 : -1
정수를 입력하시오 : 102
정수를 입력하시오 : 105
정수를 입력하시오 : 55
num=55

In [ ]:
# 1에서 100까지 짝수 print
count = 1
while count <=100:
   if count % 2 == 0:
       print(f'{count}')
   count += 1

# 1에서 100까지 짝수 더하기
sum = 0                     # sum 초기화
count = 1
while count <=100:
   if count % 2 == 0:
       sum += count         # 기존 sum에 count값 더해주기
       print(f'{count}')
   count += 1

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [ ]:
# 7주차 과제 - 참고
message = """명지대학교(총장 임연수)가 고난주간을 맞아 인문캠퍼스와 자연캠퍼스에서 ‘2025학년도 세족식’을 개최했다. 명지대학교의 세족식은 몸과 마음을 다하여 사랑·진리·봉사를 실천하고 더불어 사는 세상을 만들어 나가고자 하는 명지의 대학이념이 담겨 있다.

특히 예수 수난절과 부활절을 맞이하여 개최된 만큼 스승이 제자들의 발을 씻겨주면서 참된 기독교 정신과 섬김의 본을 전하는 의미 깊은 행사로 2001년에 시작하여 올해로 24년째 자리매김하고 있다.
"""
print(type(message))
print(message)
list = message.split()
print(list)
print(len(message))
print(message.find("예수"))
print(message.count("캠퍼스"))

<class 'str'>
명지대학교(총장 임연수)가 고난주간을 맞아 인문캠퍼스와 자연캠퍼스에서 ‘2025학년도 세족식’을 개최했다. 명지대학교의 세족식은 몸과 마음을 다하여 사랑·진리·봉사를 실천하고 더불어 사는 세상을 만들어 나가고자 하는 명지의 대학이념이 담겨 있다.

특히 예수 수난절과 부활절을 맞이하여 개최된 만큼 스승이 제자들의 발을 씻겨주면서 참된 기독교 정신과 섬김의 본을 전하는 의미 깊은 행사로 2001년에 시작하여 올해로 24년째 자리매김하고 있다.

['명지대학교(총장', '임연수)가', '고난주간을', '맞아', '인문캠퍼스와', '자연캠퍼스에서', '‘2025학년도', '세족식’을', '개최했다.', '명지대학교의', '세족식은', '몸과', '마음을', '다하여', '사랑·진리·봉사를', '실천하고', '더불어', '사는', '세상을', '만들어', '나가고자', '하는', '명지의', '대학이념이', '담겨', '있다.', '특히', '예수', '수난절과', '부활절을', '맞이하여', '개최된', '만큼', '스승이', '제자들의', '발을', '씻겨주면서', '참된', '기독교', '정신과', '섬김의', '본을', '전하는', '의미', '깊은', '행사로', '2001년에', '시작하여', '올해로', '24년째', '자리매김하고', '있다.']
249
142
2